.reason {
  position: relative;
  box-sizing: border-box;

  width: 100%;

  color: $txt-general-secondary;

  &--bg-gray {
    padding: 0 20px;
    padding-top: 5px;
    padding-bottom: 1px;

    background-color: $bg-reason-primary;
    color: $txt-general-primary;
  }
}
.reason__about {
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 40px;

  text-align: center;
  background-color: $bg-secondary-reason;

  &--left {
    background-image: url("../img/bg-triangle.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 37px;
    text-align: center;
  }
}

.reason__item {
  &--housing {
    background: url("../img/icon-house.svg") no-repeat;
    background-position : 20px 25px;
    background-size: 40px;
  }
  &--souvenirs {
    background: url("../img/icon-gift.svg") no-repeat;
    background-position : 21px 21px;
    background-size: 33px;
  }
  &--food {
    margin-bottom: 42px;

    background: url("../img/icon-burger.svg") no-repeat  left top;
    background-position : 18px 26px;
    background-size: 40px;
  }
}
.reason__number--light-black {
  color: $txt-color-number;
}
.reason__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 7px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;

  &--black {
    margin: 0;
    padding: 0;
    padding-left: 68px;
    padding-top: 37px;
    padding-bottom: 1px;

    color: $txt-color-headline;
    text-align: left;
  }

  &--gray {
    padding-top: 20px;
  }
}
.reason__number {
  display: block;
  margin: 0;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  text-align: center;

  &--light-black {
    margin-bottom: 20px;
  }
}
.reason__text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  &--light-black {
    padding-top: 7px;
    padding-left: 67px;
    padding-right: 45px;

    color: $txt-color-paragraph;
  }
  &--gray {
    padding: 0 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6d6d6;

    text-align: center;
  }
  &--border-none {
    border-bottom: none;
  }
}
.reason__img {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 260px;
}

@media (max-width: $mobile-width-only) {
  .reason__about--left {
    padding-top: 60px;
  }
}

@media (min-width: $tablet-width) {
  .reason {
    display: inline-block;
    vertical-align: top;
  }
  .reason__about {
    &--left {
      background-image: none;
    }
  }
  .reason__img {
    width:  512px;
    height: 256px;
  }
  .reason__title {
    padding-left: 0;
    margin-top: 62px;
    margin-bottom: 0;

    text-align: center;
    font-size: 21px;
    line-height: 26px;

    &--gray {
      margin-top: 45px;
      margin-bottom: 10px;
      padding: 0 60px;

      text-align: center;
    }
    &--black {
      margin: 0;
      padding: 0;
      padding-top: 97px;
      padding-bottom: 1px;
    }
  }
  .reason__text--light-black {
    margin-bottom: 20px;
    padding: 0;
    padding-top: 23px;
    padding-left: 49px;
    padding-right: 45px;

    text-align: center;
  }
  .reason__number--light-black {
    padding-left: 20px;
    padding-right: 25px;

    text-align: center;
  }
  .reason__about {
    padding: 47px 20px;

    &--left {
      box-sizing: border-box;

      float: left;
      width: 256px;

      text-align: center;
    }
  &--right {
    box-sizing: border-box;

    float: right;
    width: 256px;
    padding: 40px 20px;

    text-align: center;
  }
}
.reason__item {
  width: calc(100% / 3);
  padding: 0;

  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}
.reason__img {

  &--right {
    float: right;
    width: 512px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }

  &--left {
    float: left;
    width: 512px;
    margin: 0;
    padding: 0;
  }
}
.reason--bg-gray {
  display: inline-block;
  vertical-align: top;
  width: calc(100% / 3);
  padding: 0;
  padding-bottom: 70px;
}
.reason__item {
  &--housing {
    background-position: top;
    background-size: 76px;
  }
  &--souvenirs {
    background-position: top;
    background-size: 63px;
  }
  &--food {
    background-position: top;
    background-size: 76px;

  }
}
.reason__title--indent{
  margin-top: 0;
  padding: 0 30px;
  padding-bottom: 9px;
}

.reason__text {
  &--indent {
    margin: 0;
    padding: 0 31px;
    padding-top: 2px;

  }
  &--gray {
  border-bottom: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}
}
.reason__title--indent-right {
  padding-top: 5px;
}
.reason__number--indent-right {
  padding-top: 5px;
}
.reason__text--indent-right {
  padding: 0 25px;
  padding-top: 5px;
  padding-bottom: 1px;
}
}
@media (min-width: $desktop-width) {
  .reason__img {
    width:  800px;
    height: 256px;
  }
  .reason__about {

    &--left {
      width: 400px;
      padding: 58px 40px;

      text-align: center;
    }
    &--right {
      width: 400px;
      padding: 51px 58px;
      margin: 0;

    }
  }
  .reason__title {
    padding-left: 65px;
    padding-right: 65px;
    &--indent {
      padding-bottom: 8px;
    }
    &--gray {
      padding: 0;
      padding: 0 150px;
    }
    &--black {
      padding: 0;
      margin-top: 105px;
    }
    &--indent-right {
      padding-top: 5px;
    }
  }
  .reason__item {
    display: inline-block;
    vertical-align: top;
    width: 400px;
  }
  .reason__img {
    &--right {
      float: right;
      width: 800px;
      margin: 0;
      padding: 0;
      margin-bottom: 55px;
    }
    &--left {
      float: left;
      width: 800px;
      margin: 0;
      padding: 0;
    }
  }
  .reason--bg-gray {
    display: inline-block;
    vertical-align: top;
    width: 400px;
  }
  .reason__number--light-black {
    padding-right: 20px;
    text-align: center;
  }
  .reason__text {
    &--gray {
      text-align: center;
      padding: 0 70px;
    }
    &--light-black {
      margin-bottom: 38px;
      padding: 0;
      padding-top: 23px;
      padding-left: 52px;
      padding-right: 45px;
      text-align: center;

    }
  }
}
