.video-presentation {
  position: relative;

  margin-bottom: 138px;
}
.video-presentation__about {
  text-align: center;
}
.video-presentation__title {
  padding-top: 35px;


  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  text-align: center;
  color: $txt-color-headline;
}

.video-presentation__text {
  margin: 0 40px;
  padding-bottom: 38px;
  padding-top: 5px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  text-align: center;
  color: $txt-color-paragraph;
}
@media (min-width: $tablet-width) {
  .video-presentation {
    padding: 0 60px;
    margin-bottom: 40px;
  }
  .video-presentation__about {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  .video-presentation__title {
    margin-top: 29px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }
  .video-presentation__text {
    margin: 0;
    margin-bottom: 73px;
    padding: 0;
  }
}
@media (min-width: $desktop-width) {
  .video-presentation {
    margin-bottom: 76px;
  }
  .video-presentation__title {
    margin-top: 30px;
    margin-bottom: 33px;
  }
  .video-presentation__text {
    margin-bottom: 69px;
  }
}
